body {
  margin: 0;
  height: 100%;
  background: url('https://www.teahub.io/photos/full/94-942453_2560x1600-hd-wallpaper-water-pokemon-background.jpg')
    left center / cover no-repeat fixed rgb(84, 107, 172);
  /* background-color: black; */
}

/*  */

/* background: url(https://play.pokemonshowdown.com/fx/client-bg-horizon.jpg) left center / cover no-repeat fixed rgb(84, 107, 172); */
