.span {
  font-weight: bold;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  border-radius: 0px;
  text-decoration: none;
  padding: 12px 18px;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-left: 16px;
}

.btn:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-dark {
  border: solid 2px #1f1f1f;
  background: transparent;
  color: #1f1f1f;
}

.btn-dark:hover {
  border: solid 2px #1f1f1f;
  background: #1f1f1f;
  color: #fff;
}
